{% extends 'base.html.twig' %}

{% block title %}Edit TypeUser{% endblock %}

{% block body %}
    <h1>Edit TypeUser</h1>

    {{ include('type_user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_user_index') }}">back to list</a>

    {{ include('type_user/_delete_form.html.twig') }}
{% endblock %}
