{% extends 'base.html.twig' %}

{% block title %}New TypeUser{% endblock %}

{% block body %}
    <h1>Create new TypeUser</h1>

    {{ include('type_user/_form.html.twig') }}

    <a href="{{ path('type_user_index') }}">back to list</a>
{% endblock %}
